body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }

  /* Cabeçalho fixo */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
  }

  header h1 {
    font-size: 24px;
  }

  /* Navegação lado a lado */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    color: white;
    height: 3rem;
    margin: 0;
    gap: 17rem;
  }

  nav a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
    transition: background 0.2s;
  }

  nav a:hover {
    background-color: #0055cc;
  }

  /* Conteúdo principal */
  main {
    margin-left: 190px; /*adiciona margem de 220 pixels a esquerda*/
    padding: 20px; /*distancia de um topico do outro*/
    margin-top: 60px;
    
  }

   main p {
    color: #003366;
    font-family: Arial, sans-serif;
  }


  /* Responsividade */
  @media (max-width: 768px) {
    nav {
      position: static;
      width: 100%;
      height: auto;
      padding-top: 0;
    }

    main {
      margin-left: 0;
    }

    footer {
      position: static;
    }
  }
 
